.App {
  text-align: left;
}

.landing {
  position: relative;
  background: url('./img/LandingImage_Updated.gif') no-repeat;
  background-size: 50%;
  width:100%;
  height: 700px;
  margin-top:-24px;
  

}

.dark-overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 200px;
  height: 200px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.display-3 {
  color:rgb(193, 153, 212);
  font-weight: bold;
  margin-top: 100px;
  margin-left:65%;
}

.lead{
  color:rgb(236, 196, 18);
  margin-left:75%;
  font-weight: inherit;
}

.text-left{
  color:rgb(236, 196, 18);
  font-weight: inherit;
  font-size:150%;
  margin-bottom: 20px;
}

.btn .btn-lg{
  margin-left:100%;
  margin-top:10px;
  color:rgb(193, 153, 212);
}

.btn{
  float:right;
  margin-top: 50px;
  width: 150px;
  margin-right: 25px;
}

.btn-info{
background-color:rgb(193, 153, 212);
border-color:transparent;
width:200px;
}

#mobile-nav a{
color: rgb(236, 196, 18);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-info:hover{
    color: #fff;
    background-color:rgb(178, 84, 221);
    border-color:rgb(193, 153, 212);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color:rgb(193, 153, 212);
  border-color:rgb(193, 153, 212);
}

.col-lg-1 {
  width:100%;
}

.container {
  width:100%; 

}

.btn-light{
  background-color: rgb(236, 196, 18);
  width:200px;
  
}

.navbar-dark .navbar-brand {
  color:rgb(193, 153, 212);
}


.positionimage{
  margin-left:50px;
  
  
}

#profilecover{
  background-color:rgb(193, 153, 212);
  margin-bottom: 250px;
  margin-left:0px;
  margin-top:-24px;
}

.mt-5, .my-5{
  
  margin-top: 0rem!important;
}

.btn-group{
  float:left;
  margin-left:200px;
  width:700px;
  height:100px;
}

.mb-3{
 background-color:rgb(193, 153, 212);
}

.mr-1{
  color:rgb(126, 31, 170);
}

.p-2{
  width:5%;
  
}

.display-4{
  margin-bottom: 0%;
  font-size: 1.5em;
}

.socialicons{
  margin-left: 45px;
  margin-top:0px;
  
  
}

.card{
  height:320px;
  
}

.profileheader{
  width: 137%;
  margin-bottom: 30%;
}

.Profilechangeimage{
  text-align: center;
}

.Editimage{
  margin-left: 33%;
}

.op{
  font-weight: bold;
}

.form-text{
  color: rgb(245, 209, 9);
  font-size: 15px;
  font-weight: 450;
}

.create-profile{
  background-color: rgb(193, 153, 212);
  margin-top:-25px;
}

.mt-4{
  background-color: rgb(236, 196, 18);
  color:black;
}

.form-group{
  margin-left:0px;
}

.display-3{
  font-size: 3em;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.followersremove{
 margin-top: 80px;
}

.followername{
  margin-left:20px;
  font-weight: Bold;
  font-size: 1.5em;
}

.input-group-text{
  width:43px;
  height: 43px;
  background-color:rgb(193, 153, 212);
  color: white;
}

